<nav>
  <%if get_user%>
      Hello, <%=get_user.username.titleize%>!
  <%= link_to "Logout", "/logout", method: "DELETE" %>
  
  <%else%>
  <%= link_to "Login", login_path%>
  <%end%>
</nav>

<h1><%= @student.full_name %></h1>

<h2>Student Details</h2>

<div class="wrapper">
  <div class="box_l">
    Age
  </div>
  <div class="box_r">
    <%= @student.age %>
  </div>
</div>
<div class="wrapper">
  <div class="box_l">
    Start Date
  </div>
  <div class="box_r">
    <%= @student.start_date %>
  </div>
</div>

<h2>Student Caregivers</h2>

<div class="wrapper_care">
  <div class="box_care_head_s">
    No.
  </div>
  <div class="box_care_head_l">
    Name
  </div>
  <div class="box_care_head_l">
    Phone
  </div>
  <div class="box_care_head_l">
    Email
  </div>
</div>
<% @student.caregivers.each_with_index do |caregiver, i| %>
<div class="wrapper_care">
  <div class="box_care_td_s">
    <%= i + 1 %>
  </div>
  <div class="box_care_td_l">
    <%= caregiver.full_name %>
  </div>
  <div class="box_care_td_l">
    <%= caregiver.phone_number %>
  </div>
  <div class="box_care_td_l">
    <%= caregiver.email %>
  </div>
</div>
<% end %>
