<h1>Create A New Educator Profile</h1>

<div class="form">
<%= form_for @educator do |f|%>
<p><%= f.label :first_name %>
<%= f.text_field :first_name%></p>
<p><%= f.label :last_name %>
<%= f.text_field :last_name %></p>
<p><%= f.label :email %>
<%= f.text_field :email %></p>
<p><%= f.label :phone %>
<%= f.text_field :phone%></p>



<%= f.fields_for :users do |u|%>
<p><%= u.label :username %>
<%= u.text_field :username%></p>
<p><%= u.label :password%>
<%= u.password_field :password%></p>

<%end%>
<%= f.submit %>
<%end%>

</div>
