<h1><%= @educator.full_name %></h1>

<h2>My Details</h2>

<h3>Phone Number: <%= @educator.phone %></h3>
<h3>Email Address: <%= @educator.email %></h3>


<h2>My Students</h2>
<table width="60%">
  <tr>
    <th>No.</th>
    <th>Name</th>
    <th>Age</th>
    <th>Start Date</th>
  </tr>
<% @educator.students.each_with_index do |student, i| %>
  <tr>
    <td><%= i + 1 %></td>
    <td><%= link_to student.full_name, student_path(student) %></td>
    <td><%= student.age %></td>
    <td><%= student.start_date %></td>
  </tr>
<% end %>
</table>

<h2>Create a Caregiver Notication</h2>

<% if @educator.exists %>
  <%= link_to "Create a Notification", new_notification_path %>
<% else %>
  <%= "You Must Have Students to Create Notifications" %>
  <% end %>

<h2>My Notifications</h2>

<table width="60%">
  <tr>
    <th>No.</th>
    <th>Date Sent</th>
    <th>Subject</th>
  </tr>
  <%@educator.specific_notification_from_educator.each_with_index do |message, i|%>
  <tr>
    <td><%= i + 1 %></td>
    <td><%= message.created_at %></td>
    <td><%= link_to message.subject, notification_path(message) %></td>
  </tr>
<%end%>
</table>
