<%= form_for @notification do |n| %>
<h2><%= n.label "Educator Name: " %> <%=n.collection_select(:educator_id, Educator.all, :id, :full_name, prompt: true)%></h2>
<h2><%= n.label "Caregiver Name: " %> <%=n.collection_select(:caregiver_id, Caregiver.all, :id, :full_name, prompt: true)%></h2>
<h2><%= n.label "In Regards to Student: " %> <%=n.collection_select(:student_id, Student.all, :id, :full_name, prompt: true)%></h2>
<h2><%= n.label "Subject" %> <%=n.text_field :subject %></h2>
<h2><%= n.label "Message"%> <%=n.text_area :message, cols: 35, rows: 5 %></h2>
<h2><%= n.label "From Educator?: " %> <%=n.text_field :from_educator %></h2>

<p><%= n.submit %></p>
<% end %>
