<%= form_for @notification do |n| %>
<%= n.hidden_field :educator_id, :value => @user.educator.id %>

<div class="wrapper">
  <div class="box_l">
    <%= n.label "Student Name: " %>
  </div>

  <div class="box_r">
    <%=n.collection_select(:student_id, @user.get_all_students, :id, :full_name, prompt: true)%>
  </div>
</div>

<div class="wrapper">
  <div class="box_l">
    <%= n.label "Subject" %>
  </div>

  <div class="box_r">
    <%=n.text_field :subject %>
  </div>
</div>

<div class="wrapper">
  <div class="box_l">
    <%= n.label "Message"%>
  </div>

  <div class="box_r">
    <%=n.text_area :message, cols: 35, rows: 5 %>
  </div>
</div>

<p><%= n.submit %></p>
<% end %>
