<div class="notification_show">


<div class="wrapper">
  <div class="box_l">
    From Educator:
  </div>

  <div class="box_r">
    <%= @notification.educator.full_name %>
  </div>
</div>

<div class="wrapper">
  <div class="box_l">
    Regarding Student:
  </div>

  <div class="box_r">
    <%= @notification.student.full_name %>
  </div>
</div>

<div class="wrapper">
  <div class="box_l">
    Date Sent:
  </div>

  <div class="box_r">
    <%= @notification.created_at %>
  </div>
</div>



<div class="wrapper">
  <div class="box_l">
    Subject:
  </div>

  <div class="box_r">
    <%= @notification.subject %>
  </div>
</div>

<div class="wrapper">
  <div class="box_l">
    Message:
  </div>

  <div class="box_r">
    <%= @notification.message %>
  </div>
</div>



</div>




<h3><%= link_to "Edit this Notification", edit_notification_path(@notification) %></h3>

<%= form_tag @notification, method: "DELETE" do %>
<%= submit_tag "Delete" %>
  <% end %>
