<nav>
  <%if get_user%>
      Hello, <%=get_user.username.titleize%>!
  <%= link_to "Logout", "/logout", method: "DELETE" %>
  <%= link_to "Profile", caregiver_path(@user.caregiver.id)%>
  <%else%>
  <%= link_to "Login", login_path%>
  <%end%>
</nav>


<%= form_for @caregiver do |f|%>
<div class="wrapper">
  <div class="box_l">
    <%= f.label :first_name %>
  </div>

  <div class="box_r">
    <%= f.text_field :first_name%>
  </div>
</div>
<div class="wrapper">
  <div class="box_l">
    <%= f.label :last_name %>
  </div>

  <div class="box_r">
    <%= f.text_field :last_name%>
  </div>
</div>
<div class="wrapper">
  <div class="box_l">
    <%= f.label :phone_number %>
  </div>

  <div class="box_r">
    <%= f.text_field :phone_number%>
  </div>
</div>
<div class="wrapper">
  <div class="box_l">
    <%= f.label :email %>
  </div>

  <div class="box_r">
    <%= f.text_field :email%>
  </div>
</div>
<div class="wrapper">
  <div class="box_l">
    <%= f.label :contact_preference %>
  </div>

  <div class="box_r">
    <%= f.select :contact_preference, ["phone","email"] %>
  </div>
</div>
<%end%>
