<h1><%= @caregiver.full_name %></h1>

<h2>My Details</h2>

<div class="wrapper">
  <div class="box_l">
    Phone Number
  </div>
  <div class="box_r">
    <%= @caregiver.phone_number %>
  </div>
</div>
<div class="wrapper">
  <div class="box_l">
    Email Address
  </div>
  <div class="box_r">
    <%= @caregiver.email %>
  </div>
</div>
<div class="wrapper">
  <div class="box_l">
    Comm. Preference
  </div>
  <div class="box_r">
    <%= @caregiver.contact_preference.capitalize %>
  </div>
</div>


<h2>My Kids</h2>

<div class="wrapper_care">
  <div class="box_care_head_s">
    No.
  </div>
  <div class="box_care_head_l">
    Name
  </div>
  <div class="box_care_head_s">
    Age
  </div>
  <div class="box_care_head_l">
    Start Date
  </div>
</div>


<% @caregiver.students.each_with_index do |student, i| %>

<div class="wrapper_care">
  <div class="box_care_td_s">
    <%= i + 1 %>
  </div>
  <div class="box_care_td_l">
    <%= link_to student.first_name, student_path(student) %>
  </div>
  <div class="box_care_td_s">
    <%= student.age %>
  </div>
  <div class="box_care_td_l">
    <%= student.start_date %>
  </div>
</div>
  <% end %>


<h2>Notifications</h2>

<div class="wrapper_care">
  <div class="box_care_head_s">
    No.
  </div>
  <div class="box_care_head_l">
    From Educator
  </div>
  <div class="box_care_head_l">
    Subject
  </div>
  <div class="box_care_head_l">
    Date Sent:
  </div>

</div>

<%@caregiver.student_notifications.each_with_index do |message, i|%>

<div class="wrapper_care">
  <div class="box_care_td_s">
    <%= i + 1 %>
  </div>
  <div class="box_care_td_l">
    <%= message.educator.full_name %>
  </div>
  <div class="box_care_td_l">
    <%= link_to message.subject, notification_path(message)%>
  </div>
  <div class="box_care_td_l">
    <%= message.created_at %>
  </div>
</div>

<%end%>

<h3><%= link_to "Edit Your Caregiver Profile", edit_caregiver_path(@caregiver) %></h3>
