<!DOCTYPE html>
<html>
  <head>
    <title>SchoolRoom</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%if session["user_id"]%>
    <div> Welcome User <%=session["user_id"]%></div>
    <%else%>
    <%= link_to "Login", login_path%>
    <%end%>

    <%=yield%>
  </body>
</html>
